<div class="dms-form-dialog__shell">
  <div class="dms-form-dialog__header">
    <div class="dms-form-dialog__heading">
      <h2 class="dms-form-dialog__title">{{ 'DOCUMENT_SIGNATURE' | translate }}</h2>
      <app-page-help-text [code]="'DOCUMENT_SIGNATURE'"></app-page-help-text>
    </div>
    <button type="button" class="dms-form-dialog__close" (click)="closeDialog()" [attr.aria-label]="'CANCEL' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dms-form-dialog__body">
    <div class="dms-form-dialog__form-card">
      <div class="dms-form-dialog__field dms-form-dialog__field--full">
        <label class="form-label">{{ 'ADD_YOUR_SIGNATURE' | translate }}</label>
        <div class="signature-container">
          <canvas #canvas></canvas>
        </div>
        <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--cancel mt-2" (click)="clearSignature()">
          <i-feather name="trash-2"></i-feather>
          {{ 'CLEAR' | translate }}
        </button>
      </div>

      <div class="dms-form-dialog__field dms-form-dialog__field--full text-center text-danger">
        {{ 'OR' | translate }}
      </div>

      <div class="dms-form-dialog__field dms-form-dialog__field--full">
        <label class="form-label">{{ 'UPLOAD_YOUR_SIGNATURE' | translate }}</label>
        <input type="file" accept="image/png, image/jpeg" (change)="onFileSelected($event)" class="form-control signature-upload">
      </div>

      <div class="row mt-2" *ngIf="documentSignatures.length > 0">
        <div *ngFor="let signature of documentSignatures" class="col-md-6">
          <div class="previous-signature">
            <img [src]="'data:image/png;base64,' + signature.base64" alt="Signature" class="signature-img" />
            <div class="signature-details">
              <p><strong>{{ 'SIGNED_BY' | translate }}:</strong> {{ signature.signatureBy }}</p>
              <p><strong>{{ 'SIGNED_DATE' | translate }}:</strong> {{ signature.createdDate | utcToLocalTime : 'full' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dms-form-dialog__actions">
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--cancel" (click)="closeDialog()">
      <i-feather name="x-circle"></i-feather>
      {{ 'CANCEL' | translate }}
    </button>
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--save" (click)="saveSignature()" cdkFocusInitial>
      <i-feather name="save"></i-feather>
      {{ 'SAVE' | translate }}
    </button>
  </div>
</div>
