<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div class="m-b-10">
                    <a class="logo-full"><img *ngIf="logoImage" [src]="logoImage" alt="logo-full"></a>
                    <a class="logo-full"><img *ngIf="!logoImage" src="assets/images/logo.png" alt="logo-full"></a>
                  </div>
                  <h4 class="font-20 mt-4">{{ 'FORGOT_PASSWORD' | translate }}</h4>
                  <p class="text-muted">{{ 'FORGOT_PASSWORD_INSTRUCTION' | translate }}</p>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginFormGroup" (ngSubmit)="onLoginSubmit()">
                    <div class="mb-3">
                      <label class="form-label" for="forgot-email">{{ 'EMAIL' | translate }}</label>
                      <input id="forgot-email" type="email" formControlName="email" class="form-control"
                        autocomplete="email">
                      <div class="text-danger"
                        *ngIf="loginFormGroup.get('email').touched && loginFormGroup.get('email').errors?.['required']">
                        {{ 'EMAIL_IS_REQUIRED' | translate }}
                      </div>
                      <div class="text-danger"
                        *ngIf="loginFormGroup.get('email').touched && loginFormGroup.get('email').errors?.['email']">
                        {{ 'PLEASE_ENTER_VALID_EMAIL' | translate }}
                      </div>
                    </div>
                    <div class="container-login100-form-btn">
                      <button mat-flat-button color="primary" class="login100-form-btn btn-sm" type="submit"
                        [disabled]="isSubmitting">
                        {{ 'RESET_MY_PASSWORD' | translate }}
                      </button>
                    </div>
                  </form>
                </div>
                <div class="mt-3 text-center auth-footer-text">
                  <span>{{ 'WANT_TO_LOGIN' | translate }}</span>
                  <a routerLink="/login" class="font-weight-medium text-primary ms-1">
                    {{ 'BACK_TO_LOGIN' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div *ngIf="bannerImage" class="bg-overlay" style='background-image: url({{bannerImage}});'></div>
        <div *ngIf="!bannerImage" class="bg-overlay" style='background-image: url("assets/images/login-image.png");'>
        </div>
      </div>
    </div>
  </div>
</div>
