<div class="dms-form-dialog__shell">
  <div class="dms-form-dialog__header">
    <div class="dms-form-dialog__heading">
      <h2 class="dms-form-dialog__title">{{ 'MANAGE_DOCUMENT_CATEGORY' | translate }}</h2>
      <app-page-help-text [code]="'DOCUMENT_CATEGORIES'"></app-page-help-text>
    </div>
    <button type="button" class="dms-form-dialog__close" (click)="onCancel()" [attr.aria-label]="'CANCEL' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dms-form-dialog__body">
    <div class="dms-form-dialog__form-card">
      <form [formGroup]="categoryForm" novalidate>
        <div class="dms-form-dialog__form-grid">
          <div class="dms-form-dialog__field dms-form-dialog__field--full">
            <label class="form-label" for="categoryName">{{ 'NAME' | translate }}</label>
            <input formControlName="name" type="text" class="form-control" id="categoryName">
            <div *ngIf="categoryForm.get('name').hasError('required') && categoryForm.get('name').touched" class="text-danger">
              {{ 'CATEGORY_NAME_IS_REQUIRED' | translate }}
            </div>
          </div>

          <div class="dms-form-dialog__field dms-form-dialog__field--full">
            <label class="form-label" for="description">{{ 'DESCRIPTION' | translate }}</label>
            <textarea formControlName="description" id="description" class="form-control" rows="4"></textarea>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dms-form-dialog__actions">
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--cancel" (click)="onCancel()">
      <i-feather name="x-circle"></i-feather>
      {{ 'CANCEL' | translate }}
    </button>
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--save" (click)="saveCategory()">
      <i-feather name="save"></i-feather>
      {{ 'SAVE' | translate }}
    </button>
  </div>
</div>
