<div class="workflow-panel">
  <div class="workflow-panel__header">
    <h2 class="workflow-panel__title">
      {{ 'MY_WORKFLOWS' | translate }}
      <app-page-help-text code="CURRENT_WORKFLOWS"></app-page-help-text>
    </h2>
    <span class="workflow-panel__badge" *ngIf="workflowInstances.length">
      {{ workflowInstances.length }}
    </span>
  </div>

  <div class="workflow-panel__body">
    <div class="table-responsive">
      <div class="grid-height-large workflow-table-wrap">
        <table mat-table [dataSource]="dataSource" class="workflow-table">
          <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef>{{ 'ACTION' | translate }}</th>
            <td mat-cell *matCellDef="let workflowInstance">
              <button class="btn btn-sm workflow-view-btn" (click)="viewVisualWorkflow(workflowInstance)"
                type="button">
                <i-feather name="eye" class="small-icon"></i-feather>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="workflowname">
            <th mat-header-cell *matHeaderCellDef>{{ 'WORKFLOW_NAME' | translate }}</th>
            <td mat-cell *matCellDef="let workflowInstance">
              <span class="workflow-name">{{ workflowInstance?.workflowName }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="documentname">
            <th mat-header-cell *matHeaderCellDef>{{ 'DOCUMENT_NAME' | translate }}</th>
            <td mat-cell *matCellDef="let workflowInstance">
              <a class="doc-link workflow-doc-link" (click)="onDocumentView(workflowInstance.documentId)">
                {{ workflowInstance?.documentName }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="transition">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRANSITIONS' | translate }}</th>
            <td mat-cell *matCellDef="let workflowInstance">
              <div class="transition-list">
                <button *ngFor="let transition of workflowInstance.nextTransitions"
                  (click)="performTransition(transition, workflowInstance)"
                  [ngClass]="'workflow_' + transition.color"
                  class="btn btn-sm workflow-transition-btn" type="button">
                  {{ transition.name }} ({{ transition.fromToStepName }})
                </button>
              </div>
            </td>
          </ng-container>

          <tr *matNoDataRow>
            <td colspan="4">
              <div class="workflow-empty">
                <i-feather name="git-merge" class="workflow-empty__icon"></i-feather>
                <b>{{ 'NO_DATA_FOUND' | translate }}</b>
              </div>
            </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [length]="workflowInstances.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChanged($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
