<div class="dms-form-dialog__shell">
  <div class="dms-form-dialog__header">
    <div class="dms-form-dialog__heading">
      <h2 class="dms-form-dialog__title">{{ 'WATERMARK_DOCUMENT' | translate }}</h2>
      <app-page-help-text [code]="'WATERMARK_DOCUMENT'"></app-page-help-text>
    </div>
    <button type="button" class="dms-form-dialog__close" (click)="closeDialog()" [attr.aria-label]="'CANCEL' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dms-form-dialog__body">
    <div class="dms-form-dialog__form-card">
      <form [formGroup]="documentWatermarkForm">
        <div class="dms-form-dialog__field dms-form-dialog__field--full">
          <label class="form-label">{{ 'WATERMARK_TEXT' | translate }}</label>
          <input formControlName="watermarkText" type="text" class="form-control">
          <div *ngIf="documentWatermarkForm.get('watermarkText').touched && documentWatermarkForm.get('watermarkText')?.errors">
            <div class="text-danger" *ngIf="documentWatermarkForm.get('watermarkText').errors?.['required']">
              {{ 'WATERMARK_TEXT_IS_REQUIRED' | translate }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dms-form-dialog__actions">
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--cancel" (click)="closeDialog()">
      <i-feather name="x-circle"></i-feather>
      {{ 'CANCEL' | translate }}
    </button>
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--save" (click)="createWatermark()">
      <i-feather name="save"></i-feather>
      {{ 'ADD_WATERMARK' | translate }}
    </button>
  </div>
</div>
