<div class="dms-form-dialog__shell">
  <div class="dms-form-dialog__header">
    <div class="dms-form-dialog__heading">
      <h2 class="dms-form-dialog__title">{{ 'ARCHIVE_DOCUMENT_RETENTION_PERIOD' | translate }}</h2>
      <app-page-help-text [code]="'ARCHIVE_DOCUMENT_RETENTION_PERIOD'"></app-page-help-text>
    </div>
    <button type="button" class="dms-form-dialog__close" (click)="closeDialog()" [attr.aria-label]="'CANCEL' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dms-form-dialog__body">
    <div class="dms-form-dialog__form-card">
      <div class="dms-form-dialog__field dms-form-dialog__field--full">
        <label class="form-label">{{ 'RETENTION_PERIOD' | translate }} ({{ 'DAY' | translate }})</label>
        <input [(ngModel)]="retentionPeriod" class="form-control" type="number" min="1" />
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dms-form-dialog__actions">
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--cancel" (click)="closeDialog()">
      <i-feather name="x-circle"></i-feather>
      {{ 'CANCEL' | translate }}
    </button>
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--save" (click)="saveArchiveSettings()">
      <i-feather name="save"></i-feather>
      {{ 'SAVE' | translate }}
    </button>
  </div>
</div>
