<div class="dms-form-dialog__shell">
  <div class="dms-form-dialog__header">
    <div class="dms-form-dialog__heading">
      <h2 class="dms-form-dialog__title">{{ 'DOCUMENT_STATUS' | translate }}</h2>
      <app-page-help-text [code]="'DOCUMENT_STATUS'"></app-page-help-text>
    </div>
    <button type="button" class="dms-form-dialog__close" (click)="closeDialog()" [attr.aria-label]="'CANCEL' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dms-form-dialog__body">
    <div class="dms-form-dialog__form-card">
      <form [formGroup]="documentStatusForm">
        <div class="dms-form-dialog__form-grid">
          <div class="dms-form-dialog__field dms-form-dialog__field--full">
            <label class="form-label" for="name">{{ 'NAME' | translate }}</label>
            <input type="text" class="form-control" id="name" formControlName="name" />
            <div *ngIf="documentStatusForm.get('name').hasError('required') && documentStatusForm.get('name').touched"
              class="text-danger">
              {{ 'NAME_IS_REQUIRED' | translate }}
            </div>
          </div>

          <div class="dms-form-dialog__field dms-form-dialog__field--full">
            <label class="form-label" for="description">{{ 'DESCRIPTION' | translate }}</label>
            <input type="text" class="form-control" id="description" formControlName="description" />
            <div *ngIf="documentStatusForm.get('description').hasError('required') && documentStatusForm.get('description').touched"
              class="text-danger">
              {{ 'DESCRIPTION_IS_REQUIRED' | translate }}
            </div>
          </div>

          <div class="dms-form-dialog__field dms-form-dialog__field--full">
            <label class="form-label" for="colorCode">{{ 'COLOR_CODE' | translate }}</label>
            <input type="text" id="colorCode" class="form-control dms-form-dialog__color-picker" [(colorPicker)]="colorCode"
              [style.background]="colorCode" [cpOutputFormat]="'hex'" readonly />
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dms-form-dialog__actions">
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--cancel" (click)="closeDialog()">
      <i-feather name="x-circle"></i-feather>
      {{ 'CANCEL' | translate }}
    </button>
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--save" (click)="saveDocumentStatus()">
      <i-feather name="save"></i-feather>
      {{ isEditMode ? ('UPDATE' | translate) : ('SAVE' | translate) }}
    </button>
  </div>
</div>
