<div class="dms-confirm">
  <div class="dms-confirm__header">
    <span aria-hidden="true"></span>
    <button type="button" class="dms-confirm__close" (click)="onCancel()" [attr.aria-label]="'CANCEL' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dms-confirm__body">
    <div class="dms-confirm__icon-wrap dms-confirm__icon-wrap--warning" aria-hidden="true">
      <i-feather name="alert-triangle" class="dms-confirm__icon-feather"></i-feather>
    </div>
    <h2 class="dms-confirm__title">{{ primaryMessage }}</h2>
  </div>

  <mat-dialog-content class="dms-confirm__content">
    <form [formGroup]="commentForm" novalidate>
      <div class="dms-confirm__note" *ngIf="note">
        <i-feather name="alert-triangle"></i-feather>
        <span>{{ note }}</span>
      </div>
      <div class="dms-confirm__field">
        <label for="confirmComment">{{ 'COMMENT' | translate }}</label>
        <textarea id="confirmComment" class="form-control" formControlName="comment" rows="3"></textarea>
        <div class="text-danger"
          *ngIf="commentForm.get('comment').touched && commentForm.get('comment').hasError('required')">
          {{ 'COMMENT_IS_REQUIRED' | translate }}
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions class="dms-confirm__actions">
    <button type="button" class="dms-confirm__btn dms-confirm__btn--cancel" (click)="onCancel()">
      {{ 'CANCEL' | translate }}
    </button>
    <button type="button" class="dms-confirm__btn dms-confirm__btn--confirm" (click)="clickHandler(true)">
      <i-feather name="check"></i-feather>
      {{ 'YES' | translate }}
    </button>
  </div>
</div>
