<section class="content">
  <div class="content-block">
    <div class="block-header">
      <div class="breadcrumb-main">
        <div class="row align-items-center">
          <div class="col">
            <span class="page-title">{{ "PROPOSAL_MANAGEMENT" | translate }}</span>
          </div>
          <div class="col-auto" *ngIf="isRootView">
            <ul class="breadcrumb-list">
              <li class="breadcrumb-item bcrumb-1">
                <button mat-raised-button color="primary" (click)="showAction('subfolder')">
                  <mat-icon>add</mat-icon>
                  <span class="d-none d-sm-inline">{{ "ADD_NEW_PROPOSAL" | translate }}</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <!-- Root View: Proposals Level -->
            <div *ngIf="isRootView">
              
              <!-- Create Proposal Action Panel -->
              <mat-card class="mb-4 action-card mat-elevation-z1" *ngIf="activeAction === 'subfolder'">
                <mat-card-content>
                  <div class="row align-items-center">
                    <div class="col-md-5">
                      <mat-form-field appearance="outline" class="w-100 mb-0">
                        <mat-label>{{ "PROPOSAL_NAME" | translate }}</mat-label>
                        <input matInput [(ngModel)]="newProposalName" placeholder="Enter proposal name">
                      </mat-form-field>
                    </div>
                    <div class="col-md-7">
                      <button mat-raised-button color="primary" class="me-2" (click)="createProposal()">
                        {{ "SAVE" | translate }}
                      </button>
                      <button mat-button (click)="activeAction = null">
                        {{ "CANCEL" | translate }}
                      </button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <!-- Proposal Folders Grid -->
              <div class="folder-grid mt-2">
                <mat-card class="folder-card mat-elevation-z2" *ngFor="let folder of proposalFolders" (click)="openFolder(folder.id)">
                  <div class="folder-icon">
                    <mat-icon>folder</mat-icon>
                  </div>
                  <div class="folder-name" [title]="folder.name">{{ folder.name }}</div>
                </mat-card>
              </div>
              
              <div class="text-muted mt-3" *ngIf="proposalFolders.length === 0">
                <i>{{ "NO_DATA_FOUND" | translate }}</i>
              </div>
            </div>

            <!-- Subfolder View: Documents and Requests -->
            <div *ngIf="!isRootView">
              
              <!-- Navigation Header -->
              <div class="d-flex justify-content-between align-items-center mb-4 pb-2 border-bottom">
                <div class="d-flex align-items-center">
                  <button mat-icon-button (click)="openParentFolder()" matTooltip="Go Back" class="me-2">
                     <mat-icon>arrow_back</mat-icon>
                  </button>
                  <div class="breadcrumb-path text-muted">
                    <span class="cursor-pointer hover-primary" (click)="openFolder(rootFolderId)">Root</span>
                    <ng-container *ngFor="let folder of breadcrumbFolders; let last = last">
                      <span class="mx-2">/</span>
                      <span [ngClass]="{'font-weight-bold text-dark': last}">{{ folder.name }}</span>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!-- Action Buttons -->
              <div class="action-buttons mb-4">
                <button mat-stroked-button color="primary" class="me-2" (click)="showAction('subfolder')">
                  <mat-icon>create_new_folder</mat-icon> {{ "CREATE_SUB_FOLDER" | translate }}
                </button>
              </div>

              <!-- Create Subfolder Action Panel -->
              <mat-card class="mb-4 action-card mat-elevation-z1" *ngIf="activeAction === 'subfolder'">
                <mat-card-content>
                  <div class="row align-items-center">
                    <div class="col-md-5">
                      <mat-form-field appearance="outline" class="w-100 mb-0">
                        <mat-label>{{ "CREATE_SUB_FOLDER" | translate }}</mat-label>
                        <input matInput [(ngModel)]="newSubfolderName" placeholder="Enter folder name">
                      </mat-form-field>
                    </div>
                    <div class="col-md-7">
                      <button mat-raised-button color="primary" class="me-2" (click)="createSubfolder()">
                        {{ "SAVE" | translate }}
                      </button>
                      <button mat-button (click)="activeAction = null">
                        {{ "CANCEL" | translate }}
                      </button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card class="mb-4 action-card mat-elevation-z1">
                <mat-card-content>
                  <mat-tab-group [(selectedIndex)]="selectedTabIndex" animationDuration="0ms">
                    <mat-tab [label]="'UPLOAD_FILE' | translate">
                      <div class="tab-content-wrap">
                        <div class="upload-row d-flex align-items-center mb-2" *ngFor="let uploadRow of uploadRows; let rowIndex = index">
                          <input
                            type="file"
                            class="form-control file-input-custom me-2"
                            (change)="onFileSelectedForRow(($any($event.target).files && $any($event.target).files.length) ? $any($event.target).files[0] : null, rowIndex)" />
                          <button
                            mat-icon-button
                            color="warn"
                            type="button"
                            (click)="removeUploadRow(rowIndex)"
                            [disabled]="uploadRows.length === 1 && !uploadRows[0]">
                            <mat-icon>remove_circle</mat-icon>
                          </button>
                        </div>
                        <div class="d-flex align-items-center">
                          <button mat-stroked-button color="primary" class="me-2" type="button" (click)="addUploadRow()">
                            <mat-icon>add</mat-icon> {{ "ADD" | translate }}
                          </button>
                          <button mat-raised-button class="bg-success text-white" type="button" (click)="uploadFile()">
                            {{ "UPLOAD" | translate }}
                          </button>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab [label]="'FILE_REQUEST' | translate">
                      <div class="tab-content-wrap">
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100 mb-2">
                              <mat-label>{{ 'SUBJECT' | translate }}</mat-label>
                              <input matInput [(ngModel)]="newRequestTitle">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100 mb-0">
                              <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
                              <textarea matInput rows="2" [(ngModel)]="newRequestDescription"></textarea>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100 mb-2">
                              <mat-label>{{ 'EMAIL' | translate }}</mat-label>
                              <input matInput type="email" [(ngModel)]="newRequestEmail">
                            </mat-form-field>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mb-2">
                                  <mat-label>{{ 'MAXIMUM_DOCUMENT_UPLOAD' | translate }}</mat-label>
                                  <input matInput type="number" min="1" [(ngModel)]="newRequestMaxDocument">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mb-2">
                                  <mat-label>{{ 'MAXIMUM_FILE_SIZE_UPLOAD' | translate }}</mat-label>
                                  <mat-select [(ngModel)]="newRequestSizeInMb">
                                    <mat-option *ngFor="let size of fileSizeOptions" [value]="size">
                                      {{ getFileSizeLabel(size) }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-1">
                          <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100 mb-2">
                              <mat-label>{{ 'ALLOW_FILE_EXTENSION' | translate }}</mat-label>
                              <mat-select [(ngModel)]="newRequestFileTypes" multiple>
                                <mat-option *ngFor="let fileType of fileTypes" [value]="fileType.value">
                                  {{ fileType.key | translate }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-checkbox color="primary" [(ngModel)]="newRequestHasPassword">
                              {{ "IS_PASSWORD_REQUIRED" | translate }}
                            </mat-checkbox>
                            <mat-form-field appearance="outline" class="w-100 mt-2" *ngIf="newRequestHasPassword">
                              <mat-label>{{ "PASSWORD" | translate }}</mat-label>
                              <input matInput type="text" [(ngModel)]="newRequestPassword">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-checkbox color="primary" [(ngModel)]="newRequestIsLinkExpiryTime">
                              {{ "IS_LINK_VALID_UNTIL" | translate }}
                            </mat-checkbox>
                            <mat-form-field appearance="outline" class="w-100 mt-2" *ngIf="newRequestIsLinkExpiryTime">
                              <mat-label>{{ "LINK_EXPIRATION" | translate }}</mat-label>
                              <input matInput type="datetime-local" [(ngModel)]="newRequestLinkExpiryTime">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="d-flex justify-content-end">
                          <button mat-raised-button class="bg-warning text-dark me-2" type="button" (click)="createFileRequest()">
                            {{ "CREATE_FILE_REQUEST" | translate }}
                          </button>
                          <button mat-button type="button" (click)="newRequestTitle=''; newRequestDescription=''; newRequestEmail=''; newRequestMaxDocument=1; newRequestSizeInMb=5; newRequestFileTypes=[]; newRequestHasPassword=false; newRequestPassword=''; newRequestIsLinkExpiryTime=false; newRequestLinkExpiryTime=''">
                            {{ "CANCEL" | translate }}
                          </button>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </mat-card-content>
              </mat-card>

              <!-- Content Area -->
              <div class="row mt-4">
                
                <!-- Folders Column -->
                <div class="col-md-6">
                  <h6 class="section-title border-bottom pb-2 mb-3">
                    <mat-icon class="align-middle me-1 fs-5">folder</mat-icon> {{ "FOLDER" | translate }}
                  </h6>
                  <div class="folder-grid">
                    <mat-card class="folder-card small mat-elevation-z1" *ngFor="let folder of childFolders" (click)="openFolder(folder.id)">
                      <div class="folder-icon">
                        <mat-icon>folder</mat-icon>
                      </div>
                      <div class="folder-name" [title]="folder.name">{{ folder.name }}</div>
                    </mat-card>
                  </div>
                  <div class="text-muted mt-2" *ngIf="childFolders.length === 0">
                    <i>{{ "NO_DATA_FOUND" | translate }}</i>
                  </div>
                </div>

                <!-- Files and Requests Column -->
                <div class="col-md-6">
                  <!-- Uploaded Files -->
                  <h6 class="section-title border-bottom pb-2 mb-3">
                    <mat-icon class="align-middle me-1 fs-5">insert_drive_file</mat-icon> {{ "UPLOADED_FILES" | translate }}
                  </h6>
                  <mat-list class="custom-list mb-4">
                    <mat-list-item *ngFor="let file of visibleFiles" class="list-item-hover">
                      <mat-icon matListItemIcon class="text-muted">description</mat-icon>
                      <div matListItemTitle>{{ file.displayLabel }}</div>
                      <button
                        mat-icon-button
                        type="button"
                        matListItemMeta
                        matTooltip="View"
                        (click)="openFile(file)">
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </mat-list-item>
                    <div class="text-muted p-2" *ngIf="visibleFiles.length === 0">
                       <i>{{ "NO_DATA_FOUND" | translate }}</i>
                    </div>
                  </mat-list>

                  <!-- File Requests -->
                  <h6 class="section-title border-bottom pb-2 mb-3">
                    <mat-icon class="align-middle me-1 fs-5">move_to_inbox</mat-icon> {{ "FILE_REQUEST" | translate }}
                  </h6>
                  <mat-list class="custom-list">
                    <mat-list-item *ngFor="let request of currentFolderFileRequests" class="list-item-hover">
                      <mat-icon matListItemIcon class="text-warning">assignment</mat-icon>
                      <div matListItemTitle>{{ request.title }}</div>
                      <div matListItemLine class="text-muted d-flex align-items-center">
                        <span class="badge rounded-pill" [ngClass]="request.status === 'Uploaded' ? 'bg-success' : 'bg-warning text-dark'">
                          {{ request.status }}
                        </span>
                      </div>
                      <button
                        mat-icon-button
                        type="button"
                        matListItemMeta
                        matTooltip="View"
                        [disabled]="!request.fileRequestId"
                        (click)="openFileRequest(request)">
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </mat-list-item>
                    <div class="text-muted p-2" *ngIf="currentFolderFileRequests.length === 0">
                      <i>{{ "NO_DATA_FOUND" | translate }}</i>
                    </div>
                  </mat-list>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
