<section class="content dms-module">
  <div class="content-block">
    <div class="dms-page-header">
      <div class="dms-page-header__text">
        <h1 class="dms-page-title">
          {{ 'DEEP_SEARCH' | translate }}
          <app-page-help-text code="DEEP_SEARCH"></app-page-help-text>
        </h1>
        <p class="dms-page-subtitle text-danger">{{ 'DEEP_SEARCH_NOTE' | translate }}</p>
      </div>
    </div>

    <div class="dms-panel">
      <div class="dms-panel__toolbar">
        <h2 class="dms-panel__toolbar-title">{{ 'SEARCH' | translate }}</h2>
      </div>
      <div class="dms-panel__body">
        <form class="dms-search-bar mb-3" (ngSubmit)="searchDocuments(true)">
          <input class="form-control" [(ngModel)]="searchQuery" name="searchQuery" id="txtSearch"
            placeholder="{{ 'DEEP_SEARCH_TEXTBOX_PLACEHOLDER' | translate }}" type="text" #input />
          <button class="btn btn-primary btn-sm dms-btn-icon" type="submit">
            <i-feather class="small-icon" name="zoom-in"></i-feather>
            {{ 'SEARCH' | translate }}
          </button>
        </form>

        <div class="dms-table-wrap">
          <div class="grid-height-auto" cdkScrollable>
            <table mat-table [dataSource]="dataSource" class="w-100" matSort matSortActive="createdDate"
              matSortDirection="desc" matSortDisableClear>
              <ng-container matColumnDef="select">
                <th class="table-column-fix-30" mat-header-cell *matHeaderCellDef>
                  <ng-container *ngIf="selection.isEmpty()">
                    <mat-checkbox (change)="$event ? masterToggle() : null" color="primary"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </ng-container>
                  <ng-container *ngIf="!selection.isEmpty()">
                    <button mat-mini-fab class="btn btn-primary btn-sm" matTooltipPosition="above"
                      (click)="onSharedSelectDocument()" *hasClaim="'ALL_DOCUMENTS_SHARE_DOCUMENT'" type="button">
                      <mat-icon>share</mat-icon>
                    </button>
                  </ng-container>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" color="primary"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>{{ 'ACTION' | translate }}</th>
                <td mat-cell *matCellDef="let document">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action" type="button">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <ng-container *ngIf="document.isIndexed">
                      <button *hasClaim="'DEEP_SEARCH_REMOVE_INDEXING'" mat-menu-item type="button"
                        (click)="removeIndexing(document)">
                        <mat-icon>zoom_out</mat-icon>
                        {{ 'REMOVE_INDEXING' | translate }}
                      </button>
                    </ng-container>
                    <button mat-menu-item type="button" (click)="onDocumentView(document)">
                      <mat-icon>visibility</mat-icon>
                      {{ 'VIEW' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_EDIT_DOCUMENT'" mat-menu-item type="button"
                      (click)="editDocument(document)">
                      <mat-icon>edit</mat-icon>
                      {{ 'EDIT' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_SHARE_DOCUMENT'" mat-menu-item type="button"
                      (click)="manageDocumentPermission(document)">
                      <mat-icon>share</mat-icon>
                      {{ 'SHARE' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_MANAGE_SHARABLE_LINK'" mat-menu-item type="button"
                      (click)="onCreateShareableLink(document)">
                      <mat-icon>link</mat-icon>
                      {{ 'GET_SHAREABLE_LINK' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_DOWNLOAD_DOCUMENT'" mat-menu-item type="button"
                      (click)="downloadDocument(document)">
                      <mat-icon>download</mat-icon>
                      {{ 'DOWNLOAD' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_UPLOAD_NEW_VERSION'" mat-menu-item type="button"
                      (click)="uploadNewVersion(document)">
                      <mat-icon>upload</mat-icon>
                      {{ 'UPLOAD_NEW_VERSION_FILE' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_VIEW_VERSION_HISTORY'" mat-menu-item type="button"
                      (click)="onVersionHistoryClick(document)">
                      <mat-icon>history</mat-icon>
                      {{ 'VERSION_HISTORY' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_MANAGE_COMMENT'" mat-menu-item type="button"
                      (click)="addComment(document)">
                      <mat-icon>chat</mat-icon>
                      {{ 'COMMENT' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_ADD_REMINDER'" mat-menu-item type="button"
                      (click)="addReminder(document)">
                      <mat-icon>notifications</mat-icon>
                      {{ 'ADD_REMINDER' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_SEND_EMAIL'" mat-menu-item type="button"
                      (click)="sendEmail(document)">
                      <mat-icon>forward_to_inbox</mat-icon>
                      {{ 'SEND_EMAIL' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_ARCHIVE_DOCUMENT'" mat-menu-item type="button"
                      (click)="archiveDocument(document)">
                      <mat-icon>archive</mat-icon>
                      {{ 'ARCHIVE' | translate }}
                    </button>
                    <button *hasClaim="'ALL_DOCUMENTS_DELETE_DOCUMENT'" mat-menu-item type="button"
                      (click)="deleteDocument(document)">
                      <mat-icon>delete</mat-icon>
                      {{ 'DELETE' | translate }}
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ 'NAME' | translate }}</th>
                <td mat-cell *matCellDef="let document">
                  <a class="doc-link" (click)="onDocumentView(document)">{{ document.name }}</a>
                </td>
              </ng-container>
              <ng-container matColumnDef="categoryName">
                <th mat-header-cell *matHeaderCellDef>{{ 'DOCUMENT_CATEGORY' | translate }}</th>
                <td mat-cell *matCellDef="let document">{{ document.categoryName }}</td>
              </ng-container>
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>{{ 'STORAGE' | translate }}</th>
                <td mat-cell *matCellDef="let document">{{ document.location.toUpperCase() | translate }}</td>
              </ng-container>
              <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef>{{ 'CLIENT' | translate }}</th>
                <td mat-cell *matCellDef="let document">{{ document?.companyName | translate }}</td>
              </ng-container>
              <ng-container matColumnDef="statusName">
                <th mat-header-cell *matHeaderCellDef>{{ 'STATUS' | translate }}</th>
                <td mat-cell *matCellDef="let document">
                  <span [ngStyle]="{ color: document?.colorCode }">{{ document?.statusName | translate }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef>{{ 'CREATED_DATE' | translate }}</th>
                <td mat-cell *matCellDef="let document">
                  {{ document?.createdDate | utcToLocalTime:'shortDate' }}
                </td>
              </ng-container>
              <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>{{ 'CREATED_BY' | translate }}</th>
                <td mat-cell *matCellDef="let document">{{ document.createdByName }}</td>
              </ng-container>
              <tr *matNoDataRow>
                <td colspan="8">
                  <div class="dms-empty">
                    <i-feather name="search" class="small-icon"></i-feather>
                    <b>{{ 'NO_DATA_FOUND' | translate }}</b>
                  </div>
                </td>
              </tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
