<div class="dms-form-dialog__shell">
  <div class="dms-form-dialog__header">
    <div class="dms-form-dialog__heading">
      <h2 class="dms-form-dialog__title">{{ 'RESET_PASSWORD' | translate }}</h2>
    </div>
    <button type="button" class="dms-form-dialog__close" (click)="onNoClick()" [attr.aria-label]="'CANCEL' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dms-form-dialog__body">
    <div class="dms-form-dialog__form-card">
      <form [formGroup]="resetPasswordForm">
        <div class="dms-form-dialog__form-grid">
          <div class="dms-form-dialog__field dms-form-dialog__field--full">
            <label class="form-label">{{ 'EMAIL' | translate }}</label>
            <input formControlName="email" class="form-control" type="email">
          </div>

          <div class="dms-form-dialog__field dms-form-dialog__field--full">
            <label class="form-label">{{ 'PASSWORD' | translate }}</label>
            <input autocomplete="new-password" formControlName="password" class="form-control" type="password">
            <div *ngIf="resetPasswordForm.get('password').touched && resetPasswordForm.get('password').errors">
              <div class="text-danger" *ngIf="resetPasswordForm.get('password').errors?.['required']">
                {{ 'PASSWORD_IS_REQUIRED' | translate }}
              </div>
              <div class="text-danger" *ngIf="resetPasswordForm.get('password').errors?.['minlength']">
                {{ 'YOU_HAVE_TO_ENTER_AT_LEAST_DIGIT' | translate }}
              </div>
            </div>
          </div>

          <div class="dms-form-dialog__field dms-form-dialog__field--full">
            <label class="form-label">{{ 'CONFIRM_PASSWORD' | translate }}</label>
            <input autocomplete="new-password" formControlName="confirmPassword" class="form-control" type="password">
            <div *ngIf="resetPasswordForm.get('confirmPassword').touched && resetPasswordForm.get('confirmPassword').errors">
              <div class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword').errors?.['required']">
                {{ 'CONFIRM_PASSWORD_IS_REQUIRED' | translate }}
              </div>
            </div>
            <div class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword').touched && resetPasswordForm.hasError('notSame')">
              {{ 'PASSWORDS_DO_NOT_MATCH' | translate }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dms-form-dialog__actions">
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--cancel" (click)="onNoClick()">
      <i-feather name="x-circle"></i-feather>
      {{ 'CANCEL' | translate }}
    </button>
    <button type="button" class="dms-form-dialog__btn dms-form-dialog__btn--save" (click)="resetPassword()" cdkFocusInitial>
      <i-feather name="save"></i-feather>
      {{ 'SAVE' | translate }}
    </button>
  </div>
</div>
